{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}
    <head>
        <h1 align="left" class="left"><span class="soulign">Modifier le Medicament </span></h1>
    </head>
    {{ form_start(form) }}

    <label>{{ form_row(form.medNomcommercial) }}</label>

    <label>{{ form_row(form.medComposition) }}</label>


    <label>{{ form_row(form.medEffets) }}</label>


    <label>{{ form_row(form.medContreindic) }}</label>


    <label>{{ form_row(form.medPrixechantillon) }}</label>


    <label>{{ form_row(form.famCode) }}</label>


    {{ form_widget(form) }}
    <button>Editer</button>
    {{ form_end(form) }}

    </form>

    </div>
{% endblock %}