{% extends './base.html.twig' %}

{%  block title 'Accueil GSB' %}
{% block body %}
<head xmlns="http://www.w3.org/1999/html">
<h1 align="left" class="left"><span class="soulign">Ajouter un Medicament </span></h1>
</head>

    <form method="post" action="{{ path('ajout_medicament') }}">

        <label>Nom commercial</label>
        <input class="form-control" name="nom_commercial" type="text" placeholder="">

        <label>Prix</label>
        <input class="form-control" name="prix" type="number">

        <label>Famille</label>
        <select class="form-select" name="codefamille">
            <option value="">--choose value--</option>
            {% for famille in famille  %}
                <option value="{{ famille.famCode }}">{{ famille.famLibelle }}</option>
            {% endfor %}
        </select><br>



        <label>Image</label>
        <input class="form-control" type="file" multiple="multiple" name="fichier"  />

        <label>Effets</label>
        <input class="form-control" name="effet" type="text">

        <label>Composition</label>
        <input class="form-control" name="composition" type="text"><br>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('addMedoc') }}"/>
<h4>Medicaments deconseille pour ce medicament</h4>

        {% for Medicament in Medicament  %}
            <input class="form-check-input" id="{{ Medicament.meddepotlegal }}" type="checkbox" name="contreIndic[]" value="{{ Medicament.medNomcommercial }}"><label for="{{ Medicament.meddepotlegal }}" class="form-check-label">{{ Medicament.medNomcommercial }}</label><br><br>
        {% endfor %}

        <button class="btn btn-primary" type="submit">Soumettre</button>



    </form>

</div>
{% endblock %}